<link rel="stylesheet" type="text/css" href="/css/styles.css" />
<title>StuSource</title>
<link rel="stylesheet" type="text/css" href="/css/styles.css" />
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">
<title text-align: center> Page Title</title>
