@import url('https://fonts.googleapis.com/css?family=Montserrat:500');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

h1 {
  color: #A8D2E8;
  text-align: center;
}

p {
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  text-align: center;
}

table {
  border: 1px solid black;
  width: 70%;
  text-align: left;
  margin-left:15%; 
  margin-right:15%;
  padding: 15px;
  padding-bottom:100px;
}

th, td {
  padding: 15px;
  text-align: left;
}

body {
  font-family: "Times New Roman", Times, serif;
}


content {
  width: 100%;
  height: 50px;
  border: 4px;
  border: 1px solid black;
}


.form-inline {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

/* Add some margins for each label */
.form-inline label {
  margin: 5px 10px 5px 0;
}

/* Style the input fields */
.form-inline input {
  background-color: #f2e4fd;
  border: 1px solid #ddd;
}

/* Add responsiveness - display the form controls vertically instead of horizontally on screens that are less than 800px wide */
@media (max-width: 800px) {
  .form-inline input {
    margin: 10px 0;
  }

  .form-inline {
    flex-direction: column;
    align-items: stretch;
  }
}



.drop {
  border-radius: 10px;
  background-color: #A8D2E8; 
  border: none;
  color: white;
  width:20%; 
  margin: 30px;
  height: 50px;
  margin-left:40%; 
  margin-right:40%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  transition-duration: 0.4s;
  width: 100%;
  margin-left:0%;
  border: none;
  cursor: pointer;
}

.dropbtn:hover {
  background-color: #f2e4fd; 
  color: black;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f2e4fd;
  width: 20%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.eachItem:hover {
  background-color: white;
}

/* Links inside the dropdown */
.dropdown-content p {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content p:hover {
  background-color: #f1f1f1
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.button {
  border-radius: 10px;
  background-color: #A8D2E8; 
  border: none;
  color: white;
  width:20%; 
  margin: 30px;
  height: 50px;
  margin-left:40%; 
  margin-right:40%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
}

.button:hover {
  background-color: #f2e4fd; 
  color: black;   
}

header {
    height: 60%;
    padding: 10px 10%;
    border-radius: 40px;
    margin: 15px 20px 0px;
    background-color: #A8D2E8;
}

.headerlogo {
    cursor: pointer;
    height: 8%;
    width: 16%;
    background-color:#A8D2E8; 
    color: #fff;
    margin-top: 5px;
    margin-bottom: 5px;
    position: relative;
    left: -11%;
}

.headerButtons {
    float: right;
    margin-right: 0px;
}
.headerbtn {
    position:relative;
    size-adjust: auto;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size:16px;
    color: #edf0f1;
    padding: 15px;
    background-color: #A8D2E8;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin: 5px 10px ;
}

.headerbtn:hover {
    background-color: white;
    color: #A8D2E8;
}

.btna {
    margin: 10px
}
