<!DOCTYPE html>
<html>
<head>
   <%- include ("../partials/header.ejs") %>
</head>
<div class ="headerDiv">
            <header>
                <img class="headerlogo" src="scope_logo.png" alt="logo">
                <div class = headerButtons>
                    <a class="btna"><button class="headerbtn">Lunch Buddies</button></a>
                    <a class="btna" href  = "scopeCup.html"><button class="headerbtn">Scope Cup</button></a>
                    <a class="btna"><button class="eboardbtn">E-Board</button></a>
                </div>               
            </header> 
        </div>
<body id = 'body'>
<h1>Lunch Buddies</h1>
<p><strong>Next Cycle By: <strong>Wednesday October 17, 2021</p>

</body>
</html>
