<!DOCTYPE html>
<html>
<head>
   <%- include ("../partials/header.ejs") %>
</head>
<div class ="headerDiv">
            <header>
                <img class="headerlogo" src="scope_logo.png" alt="logo">
                <div class = headerButtons>
                    <a class="btna" href = "./"><button class="headerbtn">Home</button></a>
                    <a class="btna" href  = "contracting.html"><button class="headerbtn">Contracting</button></a>
                    <a class="btna" href  = "meeting.html"><button class="headerbtn">Meeting</button></a>
                    <a class="btna" href  = "shadowing.html"><button class="headerbtn">Shadowing</button></a>
                </div>                
            </header> 
        </div>
<body id = 'body'>
<h1>Lunch Buddies</h1>
<p><strong>Next Cycle By: <strong>Wednesday October 17, 2021</p>

</body>
</html>
