<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="Style.css"  
  
  
  rel="preconnect" href="https://fonts.googleapis.com"

  >
<title text-align: center> Page Title</title>
</head>
<body>

<div class="content">
<h1>Scope Cup</h1> 
<img src="http://s3.amazonaws.com/pix.iemoji.com/images/emoji/apple/ios-12/256/trophy.png" alt="Italian Trulli">
</div>


<table class = table > 
    <tr bgcolor= #6734D1>
      <th >   Team  </th>
      <th >   Points  </th>
    </tr>

    <tr>
     
      <td>  Jady  </td>
      <td>100</td>

    </tr>
    <tr bgcolor = #f2e4fd >
        <td>Jeffery</td>
        <td>30</td>
    </tr>
    <tr >
        <td>Moses</td>
        <td>1000000</td>
    </tr>
    <tr bgcolor = #f2e4fd  >
        <td>Ryan</td>
        <td>89</td>
    </tr>
    <tr>
        <td>Josh</td>
        <td>120</td>
    </tr>
    <tr bgcolor = #f2e4fd >
        <td>Isabella + Julia</td>
        <td>200</td>
    </tr>


   
  </table>

  <button class = button >Add </button>
  <a href  = "file:///Users/nicolerussack/Documents/ScopeHackathon2021/HomePage.html" > <button class = button > Lunch Buddies </button> </a>
</body>
</html>
